Mulish google font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

/* common shared style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Mulish', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}

/* banner  */
.banner {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
}
.banner-container {
    text-align: center;
    color: #fff;
}
.banner-container h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner-container p {
    width: 720px;
    margin: auto;
    line-height: 26px;
    font-weight: 400;
}
.find-now {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
    margin: auto;
    padding: 22px 18px;
    grid-gap: 15px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    margin-top: 50px;
}
.find-now input {
    padding: 15px;
    border: none;
    border-radius: 8px;
}
.find-now input:last-child {
    cursor: pointer;
    background-color: #FF5400;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    transition: .3s;
}
.find-now input:last-child:hover {
    background-color: #fff;
    color: #FF5400;
}

/* Responsive */
/* banner */
@media screen and (max-width: 600px) {
    .container {
        width: 335px;
    }
    .find-now {
        width: 287px;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .banner-container h1 {
        font-size: 1.75rem;
        padding-top: 20px;
    }
    .banner-container p {
        width: 300px;
        font-size: .87rem;
        line-height: 20px;
    }
}