Mulish google font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700;800&display=swap');

/* common shared style */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Mulish', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.section-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
}
.text-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}
.btn-primary {
    color: #fff;
    background-color: #FF5400;
    padding: 15px 25px;
    font-weight: 700;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    transition: .3s;
}
.btn-primary:hover {
    color: #FF5400;
    background-color: #fff;
    cursor: pointer;
    border: 1px solid #FF5400;
}
section {
    margin-top: 90px;
}


/* banner  */
.banner {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
}
.banner-container {
    text-align: center;
    color: #fff;
}
.banner-container h1 {
    font-size: 4rem;
    color: #fff;
    font-weight: 800;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.banner-container p {
    width: 720px;
    margin: auto;
    line-height: 26px;
    font-weight: 400;
}
.find-now {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 800px;
    margin: auto;
    padding: 22px 18px;
    grid-gap: 15px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    margin-top: 50px;
}
.find-now input {
    padding: 15px;
    border: none;
    border-radius: 8px;
}
.find-now input:last-child {
    cursor: pointer;
    background-color: #FF5400;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    transition: .3s;
}
.find-now input:last-child:hover {
    background-color: #fff;
    color: #FF5400;
}

/* Popular section */
.popular-section-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.popular-content >  p {
    margin-bottom: 30px;
}
.popular-content li {
    margin-bottom: 20px;
}
.popular-content .popular-p-2, .popular-content ul {
    width: 510px;
}
.popular-img img {
    width: 100%;
}

/* destination section */
.destination-section-container {
    text-align: center;
}
.destination-section-container p {
    width: 655px;
    margin: auto;
}
.destination-wrapper {
    height: 300px;
    margin-top: 40px;
}
.destination-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.destination {
    position: relative;
    text-align: center;
}
.destination-wrapper-1 h3, .destination-wrapper-2 h3, .destination-wrapper-3 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}
.destination-wrapper-2 {
    display: grid;
    grid-template-columns: 3fr 4fr 2fr;
    grid-gap: 20px;
    margin: 20px 0px;
}
.destination-wrapper-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 20px;
}
.destination-wrapper img {
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


/* Responsive */
/* banner */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 335px;
    }
    .find-now {
        width: 287px;
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
    .banner-container h1 {
        font-size: 1.75rem;
        padding-top: 20px;
    }
    .banner-container p {
        width: 300px;
        font-size: .87rem;
        line-height: 20px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .find-now{
        width: 660px;
        display: block;
    }
    .find-now input:last-child{
        margin-top: 20px;
    }
}

/* popular */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 335px;
    }
    .popular-section-container {
        flex-direction: column;
    }
    .section-title {
        font-size: 2rem;
    }
    .popular-content > p {
        width: 300px;
    }
    .popular-content ul {
        width: 280px;
    }
    .popular-content .popular-p-2 {
        width: 335px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .popular-section-container {
        width: 660px;
        flex-direction: column;
    }
}

/* destination section */
/* mobile responsive */
@media screen and (max-width: 600px) {
    .destination-wrapper-1, 
    .destination-wrapper-2, 
    .destination-wrapper-3 {
        grid-template-columns: 1fr;
    }
    .destination-section-container h2 {
        font-size: 2rem;
    }
    .destination-section-container p {
        width: 336px;
    }
}
/* tablet responsive */
@media screen and (min-width: 600px) and (max-width: 992px) {
    .destination-wrapper {
        padding: 0px 15px;
    }
}